*{
    margin:0;
    padding:0;
}
.header{
    position: relative;
    width:100vw;
    height:100px;
}
body,html{
    width:100%;
    overflow-x: hidden;
    background-color:#9fafca;
}
nav{
    display: flex;
    width:100%;
    height: 50px;
    background-color:#1b1b1b;

    justify-content:space-between;
}
nav li{
    list-style:none;
    padding-top: 10px;
    display: inline-block;
}
.navigation a{
    font-size: 20px;
    margin-right:30px;
    color:white;
    text-decoration: none;
    padding:5px;
    transition: all 1s;
}

.header-text{
    color:#fe6f27;

    font-size:25px;
    letter-spacing: 4px;
    margin-top: 9px;
    margin-left:10px;
}
.navigation a:hover{
    text-shadow: 0 0 5px cyan;
}


.crosses,
.menu{
    display: none;
}
.line1,
.line2,
.line3,
.cross1,
.cross2{
    width:26px;
    height:2px;
    margin:6px 0;
    background-color: white;
}


.cross1 {
    transform: rotate(-45deg) translate(-5px, 3px);
}
.cross2{
    transform: rotate(45deg) translate(-2px, -1px);
}

@media only screen and (max-width:515px)
{
    .header-text{
        font-size:20px;
    }
    .crosses,
    .menu{
        display:block;
    }
    .crosses{
        margin:20px;
    }
    .navigation li{
        display: block;
        padding:20px;
    }
    .navigation{
        width:200px;
        height: 100vh;
        position: absolute;
        top:0;
        right:-200px;
        background-image: linear-gradient(black,#0e387a);
        z-index: 2;
        transition:all 1s;
    }
    .menu{
        position: absolute;
        top:5px;
        right:10px;
    }
}
.page{
    width:60%;
    margin:auto;
    margin-top:60px;
    word-break:keep-all;
    margin-bottom:60px;
    text-align: right;
}
.page h1{
    text-align: center;
    color:rgba(44, 44, 44, 0.822);
    font-size: 40px;
}
.page p{
    margin-top:20px;
    font-size: 22px;
    color:rgba(44, 44, 44, 0.842);

}
@media only screen and (max-width:660px)
{
    .page h1{
        font-size: 28px;
    }
    .page p{
        font-size: 19px;
    }
}
@media only screen and (max-width:430px)
{
    .page{
        width:73%;
    }
    .page h1{
        font-size: 22px;
    }
    .page p{
        font-size: 17px;
    }
}
.previous{
    color:rgb(73, 73, 73);
    width:70%;
    border-top:2px solid rgba(54, 54, 54, 0.658);
    border-bottom:2px solid rgba(51, 54, 54, 0.658);
    margin:auto;
    margin-top:10px;
    margin-bottom:50px;
    padding-bottom: 10px;
    text-align: center;
}
.previous h3{
    padding-top:10px;
    margin-bottom:10px;
    font-size: 25px;
}
.previous a{
    margin-bottom:10px;
    padding-bottom:10px;
    color:black;
    text-decoration: none;
    font-size: 25px;

}

.previous a:hover{
    color: white;
    text-shadow: 0 0 5px cyan;
}



.footer{
    width:100vw;
    height:500px;
    background-color: #292929;
    padding-top:50px;
}
.footer-content{
    width:70%;
    margin:auto;
    /* display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); */
    display: flex;
    flex-wrap: wrap;

}
.contact-info{
    margin-left:10px;
    margin-right: 40px;
}
.quick-links{
    margin-left:10px;
    margin-right: 40px;
}
.contact-info h1{
    color:#fe6f27;
}
.contact-info h4{
    color:white;
}
.quick-links h1{
    color:#fe6f27;
}

.quick-links h4{
    color:white;
}

.quick-links a{
    text-decoration: none;
    color:white;
    transition: all 1s;

}
.quick-links a:hover{
    text-shadow: 0 0 5px #fe6f27;
}
.quick-links li{
    list-style: none;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius:8px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #011b52;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #ff1f1f;
    color: white;
  }
  .fa-instagram{
    background-image: linear-gradient(to top, rgba(250, 250, 135, 0.548),red, purple);
    color: white;
  }
.icons{
    width:70%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer-text{
    text-align: center;
    color:#fe6f27;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left:10px;
    margin-right: 40px;

}

@media only screen and (max-width:850px){
    .footer{
        height: 530px;
    }
}
.copy{
    color:#fe6f27;
    text-align: center;
    padding:20px;
}
.copy p{
    margin-top:20px;
}
@media only screen and (max-width:710px){
    .footer{
        height: 670px;
    }
}

@media only screen and (max-width:360px){
    .footer{
        height:640px;
    }
}
.footer a{
    font-size: 20px;
}
.quick-links a:hover{
    text-shadow: 0 0 8px #fe6f27;
}




.comment-system{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(37, 37, 37);
    box-sizing: border-box;
    width:70%;
    margin: auto;
}
#comment-form{
    width:70vw;
    height:800px;
    
    box-sizing: border-box;

}
#comment-form h1{
    text-align: center;
}
#Name,
#Email{
    padding:10px;
    width:45vw;
    height: 40px;
    margin-top: 20px;
    margin-bottom:20px;
    background-color:rgba(255, 255, 255, 0.185);
    border: none;
    font-size: 16px;

}
#message{
    padding:10px;
    width:45vw;
    height: 150px;
    margin-top: 32px;
    margin-left: 86px;
    background-color:rgba(255, 255, 255, 0.185);
    border: none;
    margin-bottom:20px;
    font-size: 20px;
}

.lable{
    margin-right: 20px;
    margin-left: 20px;
}
.lable1{
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;
}
#btn{
    margin-left:86px;
    padding:10px;
}